<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.sugarest.jane.leave">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/footprint_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/footprint_icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main_activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddAndEditorActivity"
            android:parentActivityName=".ui.main_activity.MainActivity"
            android:theme="@style/AddAndEditorTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main_activity.MainActivity" />
        </activity>

        <provider
            android:name=".data.PlaceBookProvider"
            android:authorities="se.sugarest.jane.leave"
            android:exported="false" />
    </application>

</manifest>